[Unit]
Description=Communication Control

[Service]
WorkingDirectory=/root/hiveemulator/src/CommunicationControl/DevOpsProject/bin/Debug/net8.0
ExecStart=/bin/bash -c "dotnet DevOpsProject.CommunicationControl.API.dll"

[Install]
WantedBy=multi-user.target